@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.white {
  color: white;
}

header {
  background-color: rgb(89, 191, 194);
  height: 80vh;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
}

.navigation li {
  padding: 0.5em;
  display: inline;
  font-weight: 600;
}

.navigation li:last-of-type {
  padding-right: 0px;
}

.brand {
  padding: 0.5em;
  font-weight: 700;
  font-size: 2em;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}

.punch {
  height: 80vh;
  position: relative;
  top: -600px;
  margin-bottom: -600px;
  background-image: url("../../assets/media/hero.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

button {
  padding: 1em 2.5em;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 10px;
}

.trial {
  margin-top: 2em;
  color: rgb(75, 90, 136);
  border: none;
}

.file div a {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 800;
  color: rgb(189, 201, 225);
}

.file div a img {
  padding: 0.4em;
  width: 1.8em;
}

/* .file div a img:first-of-type {
    padding-left: 0px;
} */

.file div:last-of-type {
  padding-right: 0px;
}

.file div:first-of-type {
  padding-left: 0px;
}

hr {
  width: 80vw;
  height: 2px;
  border: 1px solid rgb(207, 218, 247);
}

.monitor .article {
  flex: 0 1 38%;
  line-height: 2em;
}

.monitor {
  margin-bottom: 2em;
  margin-top: 2em;
}

.monitor .article h2 {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: rgb(40, 60, 124);
  margin-bottom: 1em;
}

.monitor .article p {
  width: 75%;
  margin-bottom: 2em;
  color: rgb(141, 157, 190);
  font-weight: 500;
  font-size: 1.2em;
}

.weekly-table {
  margin: 5em auto;
}

.weekly-table h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: rgb(40,63,124);
  margin-bottom: 1em;
}

.weekly-table table {
  text-align: center;
}

.weekly-table table th{
  font-size: 1.5em;
  font-weight: 500;
  background-color: rgb(61,159,160);
  padding: 0.4em;
  color: white;
  
}

.weekly-table table th:first-of-type {
  border-radius: 0.5em 0 0 0;
}

.weekly-table table th:last-of-type {
  border-radius: 0 0.5em 0 0;
}

.weekly-table table td {
  padding: 1em 0;
  border: 1px solid rgb(213,212,213);
}

.weekly-table table tr:nth-child(2n) {
  background-color: rgb(213,229,229);
}

.monthly-slider {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: rgb(186,236,237);
  border-radius: 10px;
}

.monthly-slider .ball {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(89,191,194);
  z-index: 14;
}

.toggle {
  margin: 1em ;
}

.toggle > * {
  margin: 0 0.5em;
}

.toggle h3{
  display: inline-block;

}

.toggle input {
  display: none;
}

.join h2{
 color: rgb(54,74,133);
 font-size: 30px;
 font-weight: 600;
 text-align: center;
}

.col-head h2{
 color: rgb(40,60,124);
 font-size: 30PX;
 font-weight: 600;
}


.price.basic::before {
  content: "$";
}